#profile{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-size: 1.3em;
  }
#projectImg{
  filter: brightness(60%);
}

  b{
    text-align: center;
  }

  ul.a {
    list-style-type: circle;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
    font-family:'Helvetica Neue', sans-serif;
    font-size: 45px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
  }
  .image-container {
  position: relative;
  display: inline-block;
}

.image-container:hover {
  cursor: pointer;
  opacity:0.60
}

.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}


